.app-wrapper {
  display: grid;  /*разбиваем область страницы на сетку (grid)*/
  width: 90%;
  margin: 0 auto;


  grid-template-areas:  /*расположение областей в сетке*/
          "h h"
          "n c";

  grid-template-rows: 60px 1fr;  /*выделяем 2 строки 1-ая шириной 60px, вторая - остальное пространство*/
  grid-template-columns: 2fr 10fr; /*2 колонки шириной 2 части и 10 частей */
}

.app-wrapper-content {
  grid-area: c;
  background-color: azure;
  margin-top: 10px;
}